.ALheaders {
  height: 80px;
  margin-top: 0px;
  box-shadow: 0 0 5px 0 black;
}

.ALheaders > p {
  float: left;
  margin-left: 120px;
  font-size: 50px;
  font-weight: bold;
  margin-top: 3px;
  color: rgb(236, 122, 122);
}

.fortext1 > h2 {
  padding-top: 20px;

  font-family: avenir;
  margin-left: 123px;
  color: white;
  float: left;
}

.fortext1 > span {
  font-size: 24px;
  color: white;
  float: left;
  margin-left: -480px;
  margin-top: 96px;
}

.fortext1 > p {
  font-size: 24px;
  color: white;
  float: left;
  margin-left: -450px;
  margin-top: 150px;
}

.image1 {
  width: 400px;
  height: 170px;
  border-radius: 10px;
  margin-top: -243px;
  margin-left: 794px;
  border: 5px solid #ffffff;
  position: relative;
}

.image2 {
  width: 400px;
  height: 170px;
  float: right;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 132px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border: 5px solid #ffffff;
  position: relative;
}

.ALBerandalogin {
  width: 80px;
  height: 80px;

  margin-left: 800px;
}

.ALheaders > h3 {
  margin-top: -68px;
  color: #ec7ab7;
  font-size: 40px;
  margin-left: 1036px;
}

.mainmenubtn:hover {
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  width: 180px;
  position: absolute;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  background: #ffffff;
  height: 155px;
  margin-left: 788px;
  margin-top: 0px;
  z-index: +1;
}

.dropdown-child > p {
  margin-left: 25px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.dropdownkereta {
  width: 45px;
  height: 37px;
  margin-left: 10px;
}

.dropdownpayment {
  width: 45px;
  height: 37px;
  margin-left: 10px;
}

.dropdownlogout {
  width: 45px;
  height: 37px;
  margin-left: 10px;
}
